flow.json
[{"id":"5c32873d.2d01a8","type":"websocket in","z":"52c95b62.bdcc9c","name":"OBS IN","server":"4bad706f.af8908","client":"","x":71,"y":118,"wires":[["b666ff15.f028a8"]]},{"id":"b666ff15.f028a8","type":"function","z":"52c95b62.bdcc9c","name":"toJSON","func":"return {\n    ...msg,\n    payload: JSON.parse(msg.payload),\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":211,"y":118,"wires":[["c983c8c.073e3b8","94a3fdab.6dbc7","3567cda8.c9f66a"]]},{"id":"637c01e8.8d62d8","type":"group","z":"52c95b62.bdcc9c","name":"Authentication","style":{"label":true},"nodes":["c983c8c.073e3b8","9b9ba3e8.fb1c28","1ff36e5b.137082","a26de258.6b3a78","b1597ffd.9ab52","4d057ba3.400e2c","94a3fdab.6dbc7","3567cda8.c9f66a","978e2a5a.7cd57"],"x":314,"y":71,"w":759,"h":170},{"id":"c983c8c.073e3b8","type":"switch","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"authenticate","property":"payload['message-id']","propertyType":"msg","rules":[{"t":"eq","v":"authenticate","vt":"str"},{"t":"eq","v":"authenticate2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":451,"y":118,"wires":[["9b9ba3e8.fb1c28"],["1ff36e5b.137082"]]},{"id":"9b9ba3e8.fb1c28","type":"credentials","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"pass","props":[{"value":"password","type":"msg"}],"x":613,"y":112,"wires":[["a26de258.6b3a78"]]},{"id":"1ff36e5b.137082","type":"function","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"Auth Status","func":"if (msg.payload.status === 'ok' || msg.payload.error === 'already authenticated') {\n  node.status({fill:\"green\",shape:\"dot\",text:\"Authenticated\"});\n}\nelse {\n  node.status({fill:\"red\",shape:\"ring\",text:\"Auth Failed\"});\n}","outputs":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nnode.status({fill:\"yellow\",shape:\"ring\",text:\"Not authenticated\"});","finalize":"","libs":[],"x":630,"y":160,"wires":[],"icon":"font-awesome/fa-lock"},{"id":"a26de258.6b3a78","type":"function","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"","func":"const password = msg.password;\nconst challenge = msg.payload.challenge;\nconst salt = msg.payload.salt;\nconst SHA256 = shajs.sha256;\n\nfunction auth(salt, challenge, msg) {\n  const hash = new SHA256()\n    .update(msg)\n    .update(salt)\n    .digest('base64');\n\n  const resp = new SHA256()\n    .update(hash)\n    .update(challenge)\n    .digest('base64');\n\n  return resp;\n}\n\nconst auth_response = auth(salt, challenge, password);\n\nreturn {\n    payload: {\n        \"request-type\": \"Authenticate\",\n        \"message-id\": \"authenticate2\",\n        \"auth\": auth_response,\n    },\n};","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nsetTimeout(() => {\n    node.send({ payload: {\n        \"request-type\": \"GetAuthRequired\",\n        \"message-id\": \"authenticate\"\n    }});\n}, 2000)","finalize":"","libs":[{"var":"shajs","module":"sha.js"}],"x":801,"y":112,"wires":[["b1597ffd.9ab52"]]},{"id":"b1597ffd.9ab52","type":"websocket out","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"OBS OUT","server":"4bad706f.af8908","client":"","x":987,"y":112,"wires":[]},{"id":"4d057ba3.400e2c","type":"inject","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"Start Auth","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"request-type\":\"GetAuthRequired\",\"message-id\":\"authenticate\"}","payloadType":"json","x":801,"y":158,"wires":[["b1597ffd.9ab52"]],"icon":"font-awesome/fa-unlock-alt"},{"id":"94a3fdab.6dbc7","type":"switch","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"Needs authenticate","property":"payload.error","propertyType":"msg","rules":[{"t":"eq","v":"Not Authenticated","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":200,"wires":[["978e2a5a.7cd57"]]},{"id":"3567cda8.c9f66a","type":"switch","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"on Disconnect","property":"payload['update-type']","propertyType":"msg","rules":[{"t":"eq","v":"Exiting","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":160,"wires":[["1ff36e5b.137082"]]},{"id":"978e2a5a.7cd57","type":"function","z":"52c95b62.bdcc9c","g":"637c01e8.8d62d8","name":"Trigger auth","func":"return { \n    payload: {\n        \"request-type\": \"GetAuthRequired\",\n        \"message-id\": \"authenticate\"\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":200,"wires":[["b1597ffd.9ab52"]]},{"id":"4bad706f.af8908","type":"websocket-listener","path":"ws://172.17.0.1:4444","wholemsg":"false"}]
